<!DOCTYPE html>
<html>
<head>
  <title>Catálogo de Produtos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= hide_div_if(@cart.line_items.empty?, id: 'cart') do %>
<!--<div id="cart"> -->
  <%= render @cart %>
<!--</div> -->
<% end %>



<%= yield %>

<% if session[:user_id]%>
    <h2>Opçoes do admin</h2>
    <ul>
      <li><%= link_to 'Pedidos', orders_path %></li>
      <li><%= link_to 'Produtos', products_path %></li>
      <li><%= link_to 'Usuários', users_path %></li>
    </ul>

    <%= button_to 'Logout', logout_path, method: :delete %>

<% end %>

</body>
</html>
